eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8765/eureka/
  instance:
    hostname: localhost

server:
  port: 9092

spring:
  application:
    name: SHOPPING-SERVICE